name: CI

on:
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Reset Nx cache
        run: pnpm nx reset

      - run: pnpm nx format:check --base=origin/main~1 --head=HEAD
      - run: pnpm nx run-many -t lint test build typecheck --skip-nx-cache
